## This service should NOT be enabled. Only aladdin-initial-setup.timer should be enabled.

[Unit]
Description=Aladdin CLI initial setup script for first boot only
After=cloud-init.service cloud-final.service network-online.target

ConditionPathExists=/tmp/ethereum_ip.txt
ConditionPathExists=/tmp/ipfs_ip.txt

[Service]
Type=oneshot
ExecStart=/root/aladdin_initial_setup.sh
ExecStartPost=/bin/rm -rf /tmp/ethereum_ip.txt
ExecStartPost=/bin/rm -rf /tmp/ipfs_ip.txt

## aladdin-initial-setup.timer will activate this service (after waiting 5 minutes)
#[Install]
#WantedBy=multi-user.target
